<div class="login-main">
  <div class="login-main-div">
    <div class="login-logo">
      <img src="../../assets/gooverlogo.png" alt="" width="120" height="120" />
    </div>

    <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" [destroyOnHide]="false" class="nav-tabs" (click)="changeLoginOption()">
      <li [ngbNavItem]="1" [destroyOnHide]="true">
        <a ngbNavLink>Phone number</a>

        <ng-template ngbNavContent>

          <p>Phone number</p>

          <ng-select [(ngModel)]="selectedCountryCode" placeholder="No country code selected">
            <ng-option *ngFor="let country of countryCodes" [value]="country.code">{{country.name}}</ng-option>
          </ng-select>

          <div class="verification-div">
            <input type="tel"
                   class="phone-input"
                   placeholder="Enter your phone number"
                   [(ngModel)]="PhoneNumber" />

            <button class="verification-button" (click)="requestVerificationByPhone()">Request verification</button>
          </div>

          <p *ngIf="phoneValidationError" style="color:red">
            {{phoneValidationError}}
          </p>

          <p *ngIf="isSmsCoodeSent" style="color:green">
            Code is sent successfully.
          </p>

          <div class="code-div">
            <p>Code</p>
            <input type="text" class="code-input"
                   placeholder="Enter your verification number"
                   [(ngModel)]="SmsCode"
                   [disabled]="!isLoginEnabled" />
          </div>

          <p *ngIf="codeValidationError" style="color:red">
            {{codeValidationError}}
          </p>

          <div class="login-remember">
            <input type="checkbox"
                   name="smsRememberMeChecked"
                   class="remember-checkbox"
                   [(ngModel)]="smsRememberMeChecked"
                   (change)="getSmsRememberMeCheckedInValue(smsRememberMeChecked)"
                   [disabled]="!isLoginEnabled" />

            <p class="remember-text">Keep me logged in</p>
          </div>

        </ng-template>
      </li>

      <div class="tab-border"></div>

      <li [ngbNavItem]="2">
        <a ngbNavLink>Email</a>

        <ng-template ngbNavContent>

          <p class="email-text">Email address</p>

          <div class="verification-div">
            <input type="email"
                   class="phone-input"
                   placeholder="Enter your email"
                   [(ngModel)]="email" />

            <button class="verification-button" (click)="requestVerificationByEmail()">Request verification</button>
          </div>

          <p *ngIf="emailValidationError" style="color:red">
            {{emailValidationError}}
          </p>

          <p *ngIf="isEmailCodeSent" style="color:green">
            Code is sent successfully.
          </p>

          <div class="code-div">
            <p>Code</p>
            <input type="text"
                   class="code-input"
                   placeholder="Enter your verification number"
                   [(ngModel)]="emailCode"
                   [disabled]="!isLoginEnabled" />

          </div>
          <p *ngIf="codeValidationError" style="color:red">
            {{codeValidationError}}
          </p>
          <div class="login-remember">
            <input type="checkbox" name="emailRememberMeChecked"
                   class="remember-checkbox"
                   [(ngModel)]="emailRememberMeChecked"
                   (change)="getEmailRememberMeCheckedInValue(emailRememberMeChecked)"
                   [disabled]="!isLoginEnabled" />

            <p class="remember-text">Keep me logged in</p>
          </div>

        </ng-template>

      </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
    <button class="login-button" (click)="loginSubmit()" [disabled]="!isLoginEnabled">Login</button>

    <p *ngIf="loginValidationError" style="color:red">
      {{loginValidationError}}
    </p>

    <div class="border-line"></div>

    <div class="not-joined">
      <img src="../../assets/not-joined.png" alt="" width="30" height="34" />
      <p class="not-joined-text">Not joined yet?</p>
      <button class="sign-up-free">Sign up for free</button>
    </div>

    <div class="footer-items">
      <p class="tou">Terms of use</p>
      <div class="vl"></div>
      <p class="privacy-policy">Privacy Policy</p>
      <div class="vl"></div>
      <p class="gbi">Groover Business Information</p>

      <br />

      <div class="copyright">
        <img src="../../assets/copyright.png" alt="" width="15" height="10" />
        <p class="not-joined-text">Goover.ai</p>
      </div>
    </div>

  </div>
</div>
